In [4]:
import pandas as pd
import vaex

In [5]:
df_vaex = pd.read_csv('2019_Yellow_Taxi_Trip_Data.csv')

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df_pd = pd.read_csv('2019_Yellow_Taxi_Trip_Data.csv')

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
print('Dataframe shape: ' + str(df_pd.shape))
df_pd.head()

Dataframe shape: (84399019, 18)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2.0,09/28/2019 10:53:11 PM,09/28/2019 11:13:11 PM,1.0,7.43,1.0,N,48,243,1.0,22.5,0.5,0.5,5.26,0.0,0.3,31.56,2.5
1,2.0,09/28/2019 10:11:07 PM,09/28/2019 10:22:49 PM,5.0,1.93,1.0,N,79,170,1.0,9.5,0.5,0.5,3.99,0.0,0.3,17.29,2.5
2,2.0,09/28/2019 10:39:26 PM,09/28/2019 11:02:38 PM,5.0,5.38,1.0,N,170,256,2.0,21.0,0.5,0.5,0.00,0.0,0.3,24.80,2.5
3,2.0,09/28/2019 10:45:13 PM,09/28/2019 11:27:19 PM,1.0,18.08,2.0,N,132,79,1.0,52.0,0.0,0.5,11.06,0.0,0.3,66.36,2.5
4,2.0,09/28/2019 10:15:42 PM,09/28/2019 10:23:21 PM,1.0,0.71,1.0,N,107,79,1.0,6.5,0.5,0.5,2.06,0.0,0.3,12.36,2.5

In [14]:
print('Dataframe shape: ' + str(df_vaex.shape))
df_vaex.head()

Dataframe shape: (84399019, 18)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2.0,09/28/2019 10:53:11 PM,09/28/2019 11:13:11 PM,1.0,7.43,1.0,N,48,243,1.0,22.5,0.5,0.5,5.26,0.0,0.3,31.56,2.5
1,2.0,09/28/2019 10:11:07 PM,09/28/2019 10:22:49 PM,5.0,1.93,1.0,N,79,170,1.0,9.5,0.5,0.5,3.99,0.0,0.3,17.29,2.5
2,2.0,09/28/2019 10:39:26 PM,09/28/2019 11:02:38 PM,5.0,5.38,1.0,N,170,256,2.0,21.0,0.5,0.5,0.00,0.0,0.3,24.80,2.5
3,2.0,09/28/2019 10:45:13 PM,09/28/2019 11:27:19 PM,1.0,18.08,2.0,N,132,79,1.0,52.0,0.0,0.5,11.06,0.0,0.3,66.36,2.5
4,2.0,09/28/2019 10:15:42 PM,09/28/2019 10:23:21 PM,1.0,0.71,1.0,N,107,79,1.0,6.5,0.5,0.5,2.06,0.0,0.3,12.36,2.5